<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="MailCtrl">
    <!-- bg-auto主要设置：before伪元素 -->
	<div class="col w-md b-r bg-light dker bg-auto"> 
		<div class="wrapper b-b bg">
			<button class="btn btn-sm btn-default pull-right visible-xs visible-sm" ui-toggle-class="show" x-target="#email-menu"></button>
			<a class="btn btn-sm btn-success w-xs font-bold" ui-sref="app.mail.compose" href="#/mail/compose">写信</a>
		</div>
		<div class="wrapper hidden-sm hidden-xs" id="email-menu">
			<ul class="nav nav-pills nav-stacked nav-sm">
				<li ng-repeat="fold in folds" ui-sref-active="active">
					<a ui-sref="app.mail.list({fold:fold.filter})">
						{{fold.name}}
					</a>
				</li>
			</ul>
			<div class="wrapper">标签</div>
			<ul class="class= nav nav-pills nav-stacked nav-sm">
				<li ng-repeat="label in labels" ui-sref-active="active">
					<a ui-sref="app.mail.list({fold:label.filter})">
						<i class="fa fa-fw fa-circle text-muted" color={{label.color}} label-color></i>
						{{label.name}}
					</a>
				</li>
			</ul>
			<div class="wrapper">
				<form name="label">
					<div class="input-group">
						<input type="text" class="form-control input-sm" ng-model="newLabel.name" placeholder="添加新标签" required>
						<span class="input-group-btn">
							<button class="btn btn-sm btn-default" type="button" ng-click="addLabel()" ng-disabled="label.$invalid">添加</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col">
		<div ui-view></div>
	</div>
</div>