<!-- 模态框模板 -->
<div class="modal-header">
    <h3 class="modal-title">{{ title }}</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-repeat="item in items" class="m-b-xs">
            <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
        </li>
    </ul>
    <!-- 当前选项: <b>{{ selected.item }}</b> -->
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
<!-- /模态框模板 -->