<div class="hbox hbox-auto-xs hbox-auto-sm">
	<div class="col">
	    <!-- left header -->
		<div class="profile-h">
			<div class="wrapper-lg bg-white-opacity">
				<div class="row m-t">
					<div class="col-sm-7">
					    <a href class="thumb-lg pull-left m-r">
					    	<img src="img/mhd.jpg" class="img-circle">
					    </a>
						<div class="clear m-b">
							<div class="m-b m-t-sm">
								<span class="h3 text-black font-bold">马宏德</span>
								<small class="m-l">毕业于西南科技大学 本科</small>
							</div>
							<p class="m-b">
								<a class="btn btn-sm btn-bg btn-rounded btn-default btn-icon ">
									<i class="fa fa-qq"></i>
								</a>
								<a class="btn btn-sm btn-bg btn-rounded btn-default btn-icon ">
									<i class="fa fa-weixin"></i>
								</a>
								<a class="btn btn-sm btn-bg btn-rounded btn-default btn-icon ">
									<i class="fa fa-weibo"></i>
								</a>
							</p>
							<!-- modal -->
							<div ng-controller="ModalDemoCtrl">
								<a href class="btn btn-sm btn-rounded btn-success" ng-click="open('sm')">Contact me</a>
							</div>
							<!-- /modal -->
						</div>
					</div>
					<div class="col-sm-5">
						<div class="pull-right pull-none-xs text-center">
							<a href class="m-b-md inline m">
								<span class="h3 block font-bold">666</span>
								<small>关注</small>
							</a>
							<a href class="m-b-md inline m">
								<span class="h3 block font-bold">88</span>
								<small>喜欢</small>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /left header -->
		<!-- left middle -->
		<div class="wrapper bg-white b-b">
			<ul class="nav nav-pills nav-sm">
				<li class="active"><a href>个人简介</a></li>
				<li><a href>消息</a></li>
			</ul>
		</div>
        <!-- /left middle -->
        <!-- left bottom -->
		<div class="padder">
			<div class="steamline m-b m-l-lg b-l b-info padder-v">
				<div>
					<a href class="thumb-sm avatar pull-left m-l-n-md">
						<img src="img/h15.jpg" alt="..." class="img-circle">
					</a>
					<div class="m-l-lg">
						<div class="m-b-xs">
							<a href class="h4">Now</a>
							<b class="badge bg-info m-l-xs">Now</b>
							<span class="text-muted m-l-sm pull-right">刚刚</span>
						</div>
						<div class="m-b break-word">
							<div>运用AngularJS、ui-router、ocLazyLoad等知识独立完成该<strong>响应式</strong>Demo。同时支持PC端和移动端浏览。</div>
							<div class="m-t-sm">
								<a href class="text-muted m-xs">
									<i class="icon-action-redo"></i>
								</a>
								<a href class="text-muted m-xs">
									<i class="icon-star"></i>
								</a>
								<a href class="text-muted m-xs">
									<i class="icon-heart"></i> 6
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- comment reply -->
				<div class="m-l-lg">
					<a class="pull-left avatar thumb-sm">
						<img src="img/h17.jpg" alt="...">
					</a>
					<div class="m-l-xxl panel b-a">
						<div class="panel-heading pos-rlt">
							<span class="arrow left pull-up"></span>
							<span class="text-muted m-l-sm pull-right">8分钟前</span>
							<a>王宝强</a>：Web前端需要不断学习，加油！
						</div>
					</div>
				</div>
			    <!-- /comment reply -->
			    <div>
					<a href class="thumb-sm avatar pull-left m-l-n-md">
						<img src="img/h16.jpg" alt="..." class="img-circle">
					</a>
					<div class="m-l-lg">
						<div class="m-b-xs">
							<a href class="h4">2016/3-2016/7</a>
							<span class="text-muted m-l-sm pull-right">1小时前</span>
						</div>
						<div class="m-b">
							<p class="break-word">重新开始自学Web前端。先后完成HTML/HTML5、CSS/CSS3、Javascript、Ajax、JSON、Jqery、跨域、AngularJS、ocLazyLoad等知识的学习。同时对mysql、PHP、Nodejs有所涉猎和了解。</p>
							<div class="m-t-sm">
								<a href class="text-muted m-xs">
									<i class="icon-action-redo"></i>
								</a>
								<a href class="text-muted m-xs">
									<i class="icon-star"></i>
								</a>
								<a href class="text-muted m-xs">
									<i class="icon-heart"></i> 8
								</a>
							</div>
						</div>
					</div>
				</div>

				<div>
					<a href class="thumb-sm avatar pull-left m-l-n-md">
						<img src="img/h15.jpg" alt="..." class="img-circle">
					</a>
					<div class="m-l-lg m-b-lg">
						<div class="m-b-xs">
							<a href class="h4">2013/8-2016/3</a>
							<span class="text-muted m-l-sm pull-right">2小时前</span>
						</div>
						<div class="m-b break-word">
							<div class="m-b-sm">就职于中铁建港航局集团。期间曾荣获分公司演讲比赛一等奖，集团公司演讲比赛二等奖。2015年通过职称英语理工A级考试。工作期间非常关注Web前端领域。3月底辞职。</div>
							<img src="img/c15.jpg" alt="...">
							<div class="m-t-sm">
								<a href class="text-muted m-xs">
									<i class="icon-action-redo"></i>
								</a>
								<a href class="text-muted m-xs">
									<i class="icon-star"></i>
								</a>
								<a href class="text-muted m-xs">
									<i class="icon-heart"></i> 36
								</a>
							</div>
						</div>
					</div>
				</div>

				<div>
					<a href class="thumb-sm avatar pull-left m-l-n-md">
						<img src="img/h15.jpg" alt="..." class="img-circle">
					</a>
					<div class="m-l-lg m-b-lg">
						<div class="m-b-xs">
							<a href class="h4">2013/7</a>
							<span class="text-muted m-l-sm pull-right">3小时前</span>
						</div>
						<div class="m-b break-word">
							<div>毕业于西南科技大学自动化专业&nbsp;&nbsp; 本科。在校期间通过全国计算机二级考试，大学英语四级考试。兼修网页制作课程，自学PS基础知识。非常热爱Web前端，有极强的自学能力。</div>
							<div class="m-t-sm">
								<a href class="text-muted m-xs">
									<i class="icon-action-redo"></i>
								</a>
								<a href class="text-muted m-xs">
									<i class="icon-star"></i>
								</a>
								<a href class="text-muted m-xs">
									<i class="icon-heart"></i> 36
								</a>
							</div>
							<div class="panel panel-default m-t-md m-b-n-sm pos-rlt">
								<form>
									<textarea class="form-control no-border" rows="4" placeholder="评论..."></textarea>
								</form>
								<div class="panel-footer bg-light lter">
									<button class="btn btn-info pull-right btn-sm">评论</button>
									<ul class="nav nav-pills nav-sm">
										<li><a href><i class="fa fa-camera text-muted"></i></a></li>
										<li><a href><i class="fa fa-picture-o text-muted"></i></a></li>
										<li><a href><i class="fa fa-map-marker text-muted"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div>
					<a href class="thumb-sm avatar pull-left m-l-n-md">
						<img src="img/h18.jpg" alt="..." class="img-circle">
					</a>
					<div class="m-l-lg panel b-a">
						<div class="panel-heading b-b b-light pos-rlt">
						    <span class="arrow left pull-up"></span>
							<a href class="h4">Begin</a>
							<label class="label bg-gold m-l-xs">begin</label>
							<span class="text-muted m-l-sm pull-right">5小时前</span>
						</div>
						<div class="panel-body">
							<blockquote class="b-info">
								<p>三更灯火五更鸡,正是男儿发愤时。黑发不知勤学早,白首方悔读书迟。</p>
								<small>
									著名文学家<cite title="Source Title">颜真卿</cite>
								</small>
							</blockquote>
							<div>少年辛苦终身事,莫向光阴惰寸功。</div>
						</div>
						<div class="m-b break-word">
							<div class="m-t-sm">
								<a href class="text-muted m-xs">
									<i class="icon-action-redo"></i>
								</a>
								<a href class="text-muted m-xs">
									<i class="icon-star"></i>
								</a>
								<a href class="text-muted m-xs">
									<i class="icon-heart"></i> 666
								</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- /left bottom -->
	</div>
	<div class="col w-lg bg-light lter b-l bg-auto">
		<div class="wrapper">
			<div>
				<h4 class="m-t-xs m-b-xs">我的好友</h4>
				<ul class="list-group no-bg no-borders pull-in">
					<li class="list-group-item">
						<a href class="thumb-sm avatar pull-left m-r">
							<img src="img/h19.jpg" alt="...">
							<i class="on b-white bottom"></i>
						</a>
						<div class="clear">
							<div><a>李彦宏</a></div>
							<small class="text-muted">百度CEO</small>
						</div>
					</li>
					<li class="list-group-item">
						<a href class="thumb-sm avatar pull-left m-r">
							<img src="img/h18.jpg" alt="...">
							<i class="busy b-white bottom"></i>
						</a>
						<div class="clear">
							<div><a>刘强东</a></div>
							<small class="text-muted">京东CEO</small>
						</div>
					</li>
					<li class="list-group-item">
						<a href class="thumb-sm avatar pull-left m-r">
							<img src="img/h17.jpg" alt="...">
							<i class="away b-white bottom"></i>
						</a>
						<div class="clear">
							<div><a>马云</a></div>
							<small class="text-muted">阿里巴巴CEO</small>
						</div>
					</li>
					<li class="list-group-item">
						<a href class="thumb-sm avatar pull-left m-r">
							<img src="img/h16.jpg" alt="...">
							<i class="off b-white bottom"></i>
						</a>
						<div class="clear">
							<div><a>詹姆斯</a></div>
							<small class="text-muted">NBA2015-2026赛季MVP</small>
						</div>
					</li>
				</ul>
			</div>
			<div class="panel b-a">
				<h4 class="font-thin padder">最新</h4>
				<ul class="list-group">
					<li class="list-group-item">
						<p>欢迎<a href class="text-info">@王宝强</a> 来到我的个人主页。</p>
						<small class="block text-muted">
							<i class="fa fa-fw fa-clock-o "></i>
							3分钟前
						</small>
					</li>
					<li class="list-group-item">
						<p>欢迎<a href class="text-info">@王祖蓝</a> 来到我的个人主页。</p>
						<small class="block text-muted">
							<i class="fa fa-fw fa-clock-o "></i>
							5分钟前
						</small>
					</li>
					<li class="list-group-item">
						<p>欢迎<a href class="text-info">@陈赫</a>来到我的个人主页。</p>
						<small class="block text-muted">
							<i class="fa fa-fw fa-clock-o "></i>
							10分钟前
						</small>
					</li>
				</ul>
			</div>
			<div class="panel b-light clearfix">
				<div class="panel-body">
					<a href class="thumb m-r pull-left">
						<img src="img/h20.jpg" alt=".." class="img-circle">
					</a>
					<div class="clear">
						<a href class="text-info">
						    @马宏德
						    <i class="fa fa-qq"></i>	
						</a>
						<small class="block text-muted">HTML/CSS3/AngularJS</small>
						<a href class="btn btn-success btn-xs m-t-xs ">联系我</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 模态框模板 -->
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ title }}</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items" class="m-b-xs">
                <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
            </li>
        </ul>
        <!-- 当前选项: <b>{{ selected.item }}</b> -->
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
<!-- /模态框模板 -->